body{
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDDD;
    margin: 0 auto;
}

#cabecera{
    background-color: #33A;
    color: white;
    font-weight: bold;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.75);
    margin: 0;
    padding: 1em;
}

#container h1{
    font-size: 20px;
}

#post{
    padding: 1em;
}